body#gsr.hp.vasq{
background-color: #000;
}
body#gsr.hp.vasq.a{
	border-bottom: 1px solid white;
}
div#SIvCob{
	color: #fff;
}
div#SIvCob a{
	color: #fff;
}
#gb#gb a.gb_O, #gb#gb a.gb_P, #gb#gb span.gb_P{
	color: white !important;
	text-decoration: none;
}

div.gb_Qc{
  background: rgba(200,200,200,0.9);    
}

div.gb_Qc:hover{
  cursor: pointer;
}

div.gb_Dg.gb_R{
  background: rgba(0,0,0,0.9);  	
}

div.gstl_0.sbib_a{
  background: rgba(0,0,0,0.9);
}

input#lst-ib{
  color:#fff;
}

ul.sbsb_b{
	background: rgba(0,0,0,0.9);
	color:rgba(255,255,255,0.9);
}

ul.sbsb_b li:hover{
	background: rgba(100,100,100,0.9);
}

.Q8LRLc{
	color: white !important;
}
.fbar p, .fbar a, #fsettl, #fsett a{
	color: white !important;	
}
.fbar{
	background-color: black;
}
#fbar{
	color: white !important;	
}


.jhp input[type="submit"], .sbdd_a input, .gbqfba{
    background-color: rgba(0, 0, 0, 0.9) !important;
    background-image: none !important;
    border: none !important;
    color: white !important;
    
    text-decoration: none !important;
    
    cursor: pointer !important;
}

div.gb_xe.gb_R.gb_Me.gb_Ee {
 font-weight: bold;
 font-size: 15px;
}

a#gb_70{
	background: rgba(0,0,0);
    border: none;
}
a#gb_70:hover{
  cursor: pointer !important;	
}